# Data Science Tools ans Ecosystem

in this section data science tools and ecosystem are summrized
- Data Management
- Data Intigration and transformation
- Data Visiulization
- Model Building
- Model Deployment
- Model Monitring ans Assesment

there is some popular languages for data science
- Python
- R
- java
- SQL
- Sqala
- Julia
- c++
- JavaScript
- Go
- Ruby 
- VB

Popular Languages
Pandas

- Numpy

- Matplotlib

- Seaborn

- Scikit-learn

- Keras

- TensorFlow

- PyTorch

- Apache Spark

- Vegas

- Big DL

- Ggplot2

### Data science Tools

- Anaconda
- Jupyter Notebook
- R Studio
- Spyder
- Zepplin

## Below are somw example of arthmetic oprator in data science

In [3]:
# Divide
num1=5
num2=6
print(num1/num2)

0.8333333333333334

In [4]:
# Multiply
num1=5
num2=6
print(num1*num2)

30

In [2]:
# Addition
num1=5
num2=6
print(num1+num2)

11

In [5]:
# Substraction
num1=5
num2=6
print(num1-num2)

-1

In [7]:
# This will convert 200mint to hour
200/60

3.3333333333333335

All of the following criteria is fulfilled:

- A new markdown cell is inserted below the introduction cell 

- It includes the title Objectives in bold font.

- An unordered list which lists three or more objectives is included.

### Author

#### Waqar Munawar